.card {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 5px;
    background-color: #b8dfe4;
    img.card-open {
        width: 80%;
       background-size: cover;
      
    }
    img.card-closed {
        width: 100%;
    }
}