.score {
  width: 30%;
  height: auto;
  font-weight: bolder;
  font-size: 50pt;
  color: white;
  margin-top: 3%;
  margin-left: 35%;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 0.6em;
}

.score-container {
  width: 30%;
  height: 470px;
  background-image: url(./../../assets/mushroom.png);
  background-size: cover;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  color: rgb(29, 114, 133);
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 35%;
  .message {
    width: 100%;
    font-size: 60pt;
  }
  p {
    font-size: 30pt;
  }
  .btn {
    width: 70%;
    height: auto;
    .new-game {
      text-decoration: none;
      color: white;
    }
  }
}
